.home-container{
    height: 300px;
    color: #d4901c;
    background: rgb(138,133,168);
    background: linear-gradient(60deg, rgb(20, 42, 141) 0%, rgb(109, 159, 223) 35%, rgb(20, 42, 141) 100%);
}
.home-content h1{
    padding: 2px;
}
.home-content h3{
    padding: 2px;
    text-transform: uppercase !important;
}
.home-buttons .btn-hire{
    margin-top: 25px;
    background-color: rgb(108, 17, 111);
    color: white;
    width: 100px;
    margin-right: 5px;
}
.home-buttons .btn-cv{
    margin-top: 25px;
    background-color: rgb(108, 17, 111);
    color: white;
    width: 110px;
}
.home-buttons .btn-hire:hover{
    background-color: rgb(175, 111, 224);
    color: white;
    width: 102px;
    transition: 1s;
}
.home-buttons .btn-cv:hover{
    background-color: rgb(175, 111, 224);
    width: 112px;
    transition: 1s;
}